.contactsBlock {
    height: 100vh;
    background-color: #e3c6f6;
    display: flex;
}

.container {
    height: 70%;
    width: 80%;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.text {
    width: 300px;
    border: 1px solid;
    background-color: #c0bebe;
}

.form {
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    text-transform: uppercase;
    padding: 10px 20px;
}