.contactsBlock {
    height: 100vh;
    background-color: #e3c6f6;
    display: flex;
}

.container {
    height: 70%;
    width: 80%;
    align-self: center;
    flex-direction: column;
    border: 1px solid;
}

.form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    text-transform: uppercase;
    padding: 10px 20px;
}