@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.block {
    background-color: $bgColor;
    .container {
        flex-direction: column;
        justify-content: center;
        .skills {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 750px) {
                justify-content: center;
            }
        }
    }
}


.skill {
    background-color: $bgSecondColor;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .card {
        .icon {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
        .skillTitle {
            @include text(22px, 1.2, 400, $titleColor);
        }

    }
    .description {
        text-align: center;
        @include text(18px, 1.2, 400, $textColor);
    }
}


