.remoteBlock {
    height: 30vh;
    background-color: #d1ffd1;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.text {
    text-align: center;
    background-color: #c0bebe;
}

.buttonContainer {
}
.button {
    text-transform: uppercase;
    padding: 10px 20px;
}


