@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.block {
    min-height: 30vh;
    background-color: $bgColor;
    .container {
        flex-direction: column;
        .title {
            text-align: center;
            @include text(30px, 1.4, 700, $titleColor);
        }
    }
}









