@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.footer {
    min-height: 35vh;
    background-color: $bgColor;
    display: flex;
    align-items: center;
    .container {
        width: 80%;
        border: 1px solid;
        align-items: center;
        .title {
            @include text(24px, 1.2, 700, $titleColor);
        }
        .block {
            min-width: 270px;
            display: flex;
            justify-content: space-between;
            .social {
                width: 50px;
                height: 50px;
                background-color: $textColor;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                border-radius: 3px;
            }
        }
        .copyright {
            @include text(18px, 1.2, 400, $textColor);
        }
    }
}





