@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.footer {
    min-height: 35vh;
    background-color: $bgColor;
    display: flex;
    align-items: center;
    .container {
        width: 80%;
        align-items: center;
        .titleLink {
            text-decoration: none;
            .title {
                @include text(24px, 1.2, 700, $titleColor);
                &:hover {
                    color: $textColor;
                    transition: 7ms ease-in-out;
                }
            }
        }
        .block {
            min-width: 270px;
            display: flex;
            justify-content: space-between;
        }
        .copyright {
            @include text(18px, 1.2, 400, $textColor);
        }
    }
}





